h1, h2, button, h3, input, form{
	font-family: 'Signika', sans-serif;
}


#title{
	color: white;
}
#description{
	font-style: italic;
	color: white;
}



#home{
	
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	
}

html, body{
	height: 100%;
	width: 100%;
	background:url(pianoPractice.jpg) no-repeat center center fixed;
	background-size:cover;
}
.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;

}

section.login {
    background: white;
    padding: 1em;
    margin: auto;
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 20vh;
    box-sizing: border-box;
    max-width: 400px;
	border-radius: 25px;	
}




div.images{
	padding-top: 7.4em;
	float: left;
	text-align: center;
	width: 33.33%;
}
