h1.title{
	font-family: 'Exo', sans-serif;
	font-style: 'Light';
}


#title{
	color: white;
}
#description{
	font-style: italic;
	color: white;
}

#home{
	background: url(pianoPractice.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

html, body{
	height: 100%;
	width: 100%;
}
.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}


div.images{
	padding-top: 7.4em;
	float: left;
	text-align: center;
	width: 33.33%;
}
