h1, h2, h3, input, button{
	font-family: 'Signika', sans-serif;
}
input{
	height: 80px;
	width: 120px;
}

/*
colors from coolors
purple=#8764A7
light grey=#C1C1C1
yellow=#FFCC66
blue=#97B4D6
*/

fieldset {
    border: 0;
}
label {
	display: block;
 	margin: 30px 0 0 0;
}
#container{
	padding-top: 4em;
	vertical-align: center;
	position: relative;

}
div{
	text-align: center;
	
}

select{
	font-size: 40px;
	background-color: #C1C1C1;
}

label{
	font-size: 40px;
}
button{
	text-align: center;
}
#navigation{
	text-align: center;
}

div.room{
	border-style: solid;
	width: 50;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-image: linear-gradient(90deg, #97B4D6, #97B4D6);
}
